{% extends 'original.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header class="masthead">
  <div class="container"></div>
</header>
<!-- end -->
<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Make Room</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <p><input class="form-amount" data-validation-required-message="Please enter value." id="amount-loop" placeholder="prize_per_game / default is 10 " required="required" style="width:1110px" type="int"></p>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <textarea cols="50" data-validation-required-message="Please enter a message." id="score-data" placeholder="Request Json" rows="20"></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <textarea cols="50" data-validation-required-message="Please enter a message." id="score-response" placeholder="Response Json" rows="20"></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-lg-12 text-center">
                          <div id="success"></div>
                          <button class="btn btn-primary btn-xl text-uppercase" id="request-address">Load Wallet</button>
                          <button class="btn btn-primary btn-xl text-uppercase" id="request-score">Make   it !!!!!!!!!!</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- JS code -->
<script src = "http://cdn.jsdelivr.net/gh/icon-project/icon-sdk-js@latest/build/icon-sdk-js.web.min.js" ></script> 
<script >
  var IconService = window['icon-sdk-js']
  var HttpProvider = IconService.HttpProvider
  var IconServices = new IconService(new HttpProvider('https://bicon.net.solidwallet.io/api/v3'))
  var IconWallet = IconServices.IconWallet
  var IconAmount = IconServices.IconAmount
  var IconConverter = IconService.IconConverter
  var IconBuilder = IconService.IconBuilder
  

  var amount_loop = document.getElementById("amount-loop")
  var requestAddress = document.getElementById("request-address")
  var requestScore = document.getElementById("request-score")
  var scoreData = document.getElementById("score-data")
  var scoreresponse = document.getElementById("score-response")
  
  window.addEventListener("ICONEX_RELAY_RESPONSE", eventHandler, false);
  
  function eventHandler(event) {
      var type = event.detail.type
      var payload = event.detail.payload
      switch (type) {
          case "RESPONSE_ADDRESS":
              fromAddress = payload
              break
          case "RESPONSE_JSON-RPC":
              setTimeout(function (hash) {
                  IconServices.getTransactionResult(payload.result).execute().then(
                      function(result) {
                          JSON.stringify(result)
                          scoreresponse.innerHTML = JSON.stringify(result);
                      },
                      function(error) {
                          confirm.log(error)
                      });
              }, 4000)
              break
          default:
      }
  }
  
  
  requestAddress.onclick = function() {
      window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
          detail: {
              type: 'REQUEST_ADDRESS'
          }
      }))
  }
  
  requestScore.onclick = function() {
          var callTransactionBuilder = new IconBuilder.CallTransactionBuilder;
          var callTransactionData = callTransactionBuilder
              .from(fromAddress)
              .to("cx89245b4a663f2062a9fe52a219c44c281e1d6c36")
              .nid(IconConverter.toBigNumber(3))
              .timestamp((new Date()).getTime() * 1000)
              .stepLimit(IconConverter.toBigNumber(10000000))
              .version(IconConverter.toBigNumber(3))
              .method('createRoom')
              .params({
                  "_prizePerGame": amount_loop.value
              })
              .build()

          scoreData.value = JSON.stringify({
              "jsonrpc": "2.0",
              "method": "icx_sendTransaction",
              "params": IconConverter.toRawTransaction(callTransactionData),
              "id": 8015
          })
  
          var parsed = JSON.parse(scoreData.value)
          if (parsed.method === "icx_sendTransaction" && !fromAddress) {
              alert('Select the ICX Address')
              return
          }
  
          window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
              detail: {
                  type: 'REQUEST_JSON-RPC',
                  payload: parsed
              }
          }))
      }
  
</script>
{% endblock %}

